:root {
    --color-white: #fff;
    --color-green: #10B582;
    --color-dark:#353A5A;
    --color-orange: #ffa500;
    --font-size-title: 58px;
    --font-size-article: 16px;
}

body {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    color: var(--color-white);
    font-feature-settings: 'pnum' on, 'lnum' on;
}

.global-title {
    font-size: var(--font-size-title);
    font-weight: 500;
    text-align: center;
    line-height: 100%;
    padding-bottom: 20px;
}

.global-article {
    font-size: var(--font-size-article);
}

.global-container {
    max-width: 1170px;
    margin: 0 auto;
    padding-top: 120px;
    padding-bottom: 120px;
}

.global-button {
    padding: 0;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: var(--color-white);
}

.button-round {
    background-color: var(--color-green);
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 38px;
    color: var(--color-white);
    width: 230px;
}

.header__button {
    background-color: var(--color-orange);
}

.header__nav-link {
    text-decoration: none;
    color: var(--color-white);
    padding-bottom: 8px;
    padding-top: 8px;
}

.header {
    background-color: var(--color-green);
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 120px;  
}

.header-container {
    padding: 0;
}

.header__nav {
    margin: 0 auto;
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-top: 40px;
    padding-bottom: 64px;
    max-width: 650px;
}

.header__nav-link:hover {
    border-bottom: 2px var(--color-orange) dashed;
}

.header__section {
    display: flex;
    justify-content: space-between;
    gap: 40px;
}

.container-left {
    left: 0;
    gap: 104px;
}

.wrap-social {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.wrapper__image {
    display: flex;
    position: relative;
}

.wrapper__image-woman {
    position: absolute;
    z-index: 1;
}

.wrapper__image-dash {
    display: flex;
    transform: translate(30px, -30px);
}

.container-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 542px;
}

.container-left, 
.container-right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.container-right {
    right: 0;
    justify-content: space-between;
    align-items: flex-end;
}

.header__logo {
    margin-bottom: 40px;
}

.header__section-title {
    text-align: center;
    font-weight: 500;
    line-height: 120%;
    font-size: 58px;
    margin-bottom: 20px;
}

.header-article {
    line-height: 150%;
    text-align: center;
    margin-bottom: 50px;
}

.header__section-dash {
    position: absolute;
    top: -30px;
    transform: translateX(30px);
    z-index: 0;
}

.header__section-dash--right {
    transform: translateX(-30px);  
}

.header__section-woman {
    position: relative;
    z-index: 1;
}

.header__section-right-button-scroll {
    width: 10px;
    height: 129px;
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
}

.advantages {
    display: flex;
    flex-direction: column;
    gap: 120px;
}

.stat {
    display: flex;
    justify-content: space-between;
}

.stat__block-title {
    color: var(--color-green);
    font-size: 58px;
    padding-bottom: 15px;
}

.stat__block-article {
    width: 270px;
    color: var(--color-dark);
    font-size: 14px;
    text-align: center;
}

.team {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.team__about {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.team__about-title {
    color: var(--color-dark);
    text-align: left;
}

.team__about-article {
    color: var(--color-dark);
    line-height: 150%;
    font-weight: 400;    
}

.team__about-button {
    margin-top: 50px;
}

.team__photo-container {
    display: flex;
    gap: 30px;
}

.team__photo-block-text {
    width: 170px;
    text-align: center;
    font-size: 14px;
    color: var(--color-dark);
    padding-top: 15px;
}

.team__photo {
    display:flex;
    flex-direction: column;
    gap: 30px;
}

.learn {
    background-color: var(--color-green);   
}

.learn-container {
    display: flex;
    justify-content: space-between;
    gap: 100px;
}

.learn__image {
    display: flex;
    position: relative;
}

.learn__image-imac {
    z-index: 1;
    margin-top: 30px;
}

.learn__image-dash {
    position: absolute;
    left: 30px;
}

.learn__info {
    width: 500px;
}

.learn__info-title {
    color: var(--color-white);
    line-height: 120%;
    text-align: left;
}

.learn__info-article {
    line-height: 150%;
    margin-bottom: 50px;
    width: 478px;
}

.learn-button {  
    background-color: var(--color-orange);
}

.main__stars {
    padding: 120px 135px;
    text-align: center;
}

.main__stars-container {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main__stars-container-block {
    color: black;
    text-align: left;
    padding: 20px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);    
    border-radius: 10px;
}

.main__stars-container-block-img {
    margin-bottom: 15px;
}

.main__stars-button {
    background-color: #10B582;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 74px;
}

.main__invaited {
    padding: 120px 135px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(/src/img/photo/background_section_share.png);
    background-size: cover;    
}

.main__invaited-block {
    width: 508px;
    text-align: left;
    transform: translate(50%,0)
}

.main__invaited-block-text {
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
    color: black;
}

.main__invaited-block-button {
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 56px;
}

.footer {
    padding-top: 120px;
}

.footer__menu {
    border-top: 1px solid #353A5A;
    border-bottom: 1px solid #353A5A;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer__menu-block-title {
    color: black;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer__menu-block-item {
    list-style: none;
    color: #353A5A;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}

.footer__menu-block-text {
    display: block;
    color: #353A5A;
}

.footer__menu-block-title-post {
    text-decoration: none;
    color:#353A5A;
}

.footer__info {
    padding-top: 30px; 
    padding-bottom: 30px;
    display: flex;
    justify-content: space-between;
    color: #353A5A;
    font-size: 14px;

}

.footer__info-link {
    margin-left: 30px;
    text-decoration: none;
    color: #353A5A;
}

.footer__menu-logo {
    display: flex;
    gap: 12px;
    padding-bottom: 27px;
}

.footer__menu-text {
    width: 270px;
    font-size: 14px;
    color: #353A5A;
    margin-bottom: 47px;
}

.footer__menu-social {
    display: flex;
    color: #353A5A;
    gap: 25px;
}
