h1 {
    margin: 0 auto;
    padding-top: 40px;
    font-size: 58px;
    width: 542px;
}

.header__nav-item-a {
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
    padding-top: 8px;
}

.body {
    margin: 0 auto;
    font-family: "Raleway", "Arial", sans-serif;
    font-size: 16px;
    color: white;
}

.header {
    background-color: #10B582;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 120px; 
    position: relative;      
}

.header__nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 395px;
    padding-right: 395px;
    padding-top: 40px;
    padding-bottom: 64px;
}

.header__nav-item-active:hover {
    border-bottom: 2px orange dashed;
}

.header__title {
    display: flex;
}

.header__title-social-img {
    padding-bottom: 30px;
}


.header__title-center {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 44px;
    padding-right: 44px;
}

.header__title-center-logo-img {
    padding-right: 12px;
}

.header__title-left-container {
    margin-top: 104px;
    position: relative;
    height: 330px;
}

.header__title-left-container-woman {
    position: absolute;
    padding-top: 30px;
    z-index: 2;

}

.header__title-left-woman-dash-left {
    text-align: right;
    padding-left: 30px;
    z-index: 1;
}

.header__title-right-container {
    position: relative;
    height: 330px;
}

.header__title-right {
    display: block;
    justify-content: space-between;
}

.header__title-right-container-dash-right {
    padding-right: 30px;
    z-index: 3;
}

.header__title-right-container-woman-right {
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
    z-index: 4;
}

.header__title-right-list {
    display: flex;
    justify-content: end;
    align-items: flex-end;
}