body {
    color: white;
}

h2 {
    color: black;
    font-size: 58px;
    font-weight: 500;
}

.global-button {
    padding: 0;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
    color: white;
}

.header__section-button-all {
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header__nav-item-a {
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
    padding-top: 8px;
}

.body {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
}

.header {
    background-color: #10B582;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 120px; 
    position: relative;      
}

.header__nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 395px;
    padding-right: 395px;
    padding-top: 40px;
    padding-bottom: 64px;
}

.header__nav-item-active:hover {
    border-bottom: 2px orange dashed;
}

.header__section {
    display: flex;
    justify-content: space-between;
    position: relative;
}

.header__section-left-block {
    left: 0;
    gap: 104px;
}

.header__section-center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 542px;
    padding-top: 92px;
}

.header__section-right-block {
    right: 0;
    justify-content: space-between;
    align-items: flex-end;
}

.header__section-left-block, 
.header__section-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.header__section-wrap-social {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.header__section-wrapper-image {
    position: relative;
}

.header__section-wrapper-image-right {
    margin-top: 30px;
}

.header__section-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.header__section-title {
    text-align: center;
    font-weight: 500;
    line-height: 120%;
    font-size: 58px;
    margin-bottom: 20px;
}

.header__section-about {
    width: 378px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FDFDFD;
    margin-bottom: 50px;
}

.header__section-button-all {
    padding: 20px 47px;
    color: white;
}

.header__section-dash {
    position: absolute;
    top: -30px;
    transform: translateX(30px);
    z-index: 0;
}

.header__section-dash--right {
    transform: translateX(-30px);  
}

.header__section-woman {
    position: relative;
    z-index: 1;
}

.header__section-right-button-scroll {
    width: 10px;
    height: 129px;
    transform: rotate(270deg);
    display: flex;
    align-items: center;
    gap: 15px;
    flex-direction: row-reverse;
}

.main__stat {
    margin-top: 120px;
    margin-bottom: 120px;
    display: flex;
    justify-content: center;
    gap: 30px;
    padding-left: 135px;
    padding-right: 135px;
}

.main__stat-title {
    color: #10B582;
    text-align: center;
    font-weight: 500;
    font-size: 58px;
    
}

.main__stat-text {
    margin-top: 15px;
    width: 270px;
    color: black;
    font-size: 14px;
    text-align: center;
}

.main__people {
    padding-left: 135px;
    padding-right: 135px;
    display: flex;
    justify-content: center;
    color: black;
    gap: 100px;
    margin-bottom: 120px;
}

.main__people-text {
    width: 500px;
}

.main__people-info {
    line-height: 150%;
    font-weight: 400;
    
}

.main__people-title {
    font-size: 58px;
    margin-bottom: 20px;
}

.main__people-button {
    background-color: #10B582;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 38px;
    margin-top: 50px;
}

.main__people-photo-container {
    display: flex;
    gap: 30px;
}

.main__people-photo-text {
    width: 170px;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
}

.main__people-photo {
    display:flex;
    flex-direction: column;
    gap: 30px;
}

.main__learn {
    background-color: #10B582;
    padding: 120px 135px;
    display: flex;
    justify-content: center;
    gap: 100px;
    
}

.main__learn-image {
    position: relative;
}

.main__learn-image-imac {
    position: absolute;
    margin-top: 30px;
    z-index: 5;
}

.main__learn-image-dash {
       padding-left: 30px;
}

.main__learn-info {
    width: 500px;
}

.main__learn-title {
    color: white;
    line-height: 120%;
    margin-bottom: 20px;
}

.main__learn-text {
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
    width: 478px;
}

.main__learn-info-button {
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 74px;
}

.main__stars {
    padding: 120px 135px;
    text-align: center;
}

.main__stars-container {
    margin-top: 60px;
    margin-bottom: 60px;
    display: flex;
    justify-content: center;
    gap: 30px;
}

.main__stars-container-block {
    color: black;
    text-align: left;
    padding: 20px;
    box-shadow: 5px 5px 30px rgba(101, 101, 101, 0.12);    
    border-radius: 10px;
}

.main__stars-container-block-img {
    margin-bottom: 15px;
}

.main__stars-button {
    background-color: #10B582;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 74px;
}

.main__invaited {
    padding: 120px 135px;
    display: flex;
    justify-content: center;
    text-align: center;
    background: url(/src/img/photo/background_section_share.png);
    background-size: cover;
    margin-bottom: 120px;
    
}

.main__invaited-block {
    width: 508px;
    text-align: left;
    transform: translate(50%,0)
}

.main__invaited-block-text {
    font-weight: 400;
    line-height: 150%;
    margin-bottom: 50px;
    color: black;
}

.main__invaited-block-button {
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    padding: 20px 56px;
}

.footer__menu {
    border-top: 1px solid #353A5A;
    border-bottom: 1px solid #353A5A;
    display: flex;
    justify-content: center;
    gap: 100px;
    padding-top: 80px;
    padding-bottom: 50px;
}

.footer__menu-block-title {
    color: black;
    font-size: 16px;
    margin-bottom: 30px;
}

.footer__menu-block-item {
    list-style: none;
    color: #353A5A;
    text-decoration: none;
    margin-bottom: 20px;
    display: block;
}

.footer__menu-block-text {
    display: block;
    color: #353A5A;
}

.footer__menu-block-title-post {
    text-decoration: none;
    color:#353A5A;
}

.footer__info {
    padding: 30px 135px; 
    display: flex;
    justify-content: space-between;
    color: #353A5A;
    font-size: 14px;

}

.footer__info-link {
    margin-left: 30px;
    text-decoration: none;
}

.footer__menu-logo {
    display: flex;
    gap: 12px;
    padding-bottom: 27px;
}

.footer__menu-text {
    width: 270px;
    font-size: 14px;
    color: #353A5A;
    margin-bottom: 47px;
}

.footer__menu-social {
    display: flex;
    color: #353A5A;
    gap: 25px;
}
