.global-button {
    padding: 0;
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.header__section-button-all {
    background-color: orange;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
}

.header__nav-item-a {
    text-decoration: none;
    color: white;
    padding-bottom: 8px;
    padding-top: 8px;
}

.body {
    margin: 0 auto;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    color: white;
}

.header {
    background-color: #10B582;
    padding-left: 135px;
    padding-right: 135px;
    padding-bottom: 120px; 
    position: relative;      
}

.header__nav {
    display: flex;
    list-style-type: none;
    justify-content: space-between;
    padding-left: 395px;
    padding-right: 395px;
    padding-top: 40px;
    padding-bottom: 64px;
}

.header__nav-item-active:hover {
    border-bottom: 2px orange dashed;
}

.header__section {
    padding-top: 92px;
    display: flex;
    justify-content: center;
    position: relative;
}

.header__section-left-block {
    left: 0;
    gap: 104px;

}

.header__section-center-block {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 542px;
}

.header__section-right-block {
    right: 0;
    gap: 104px;
}

.header__section-left-block, 
.header__section-right-block {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: absolute;
    top: 0;
}

.header__section-wrap-social {
    display: flex;
    flex-direction: column;
    gap: 30px;

}

.header__section-wrapper-image {
    position: relative;
}

.header__title-left-container-woman {
    position: relative;
    z-index: 2;
}

.header__title-left-woman-dash-left {
    position: absolute;
    top: -30px;
    left: 30px;
    z-index: 1;
}

.header__section-logo {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-bottom: 40px;
}

.header__section-title {
    text-align: center;
    font-weight: 500;
    line-height: 120%;
    font-size: 58px;
    margin-bottom: 20px;
}

.header__section-about {
    width: 378px;
    font-size: 16px;
    line-height: 150%;
    text-align: center;
    color: #FDFDFD;
    margin-bottom: 50px;
}

.header__section-button-all {
    padding: 20px 47px;
    color: white;
}

.header__title-right-container-dash-right {
    padding-right: 30px;
    z-index: 3;
}

.header__title-right-container-woman-right {
    position: absolute;
    padding-left: 30px;
    padding-top: 30px;
    z-index: 4;
}

/* .header__title {
    display: flex;
}

.header__title-center {
    display: flex;
    margin: 0 auto;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-left: 44px;
    padding-right: 44px;
}

.header__title-center-logo-img {
    padding-right: 12px;
}

.header__title-left-container {
    margin-top: 104px;
    position: relative;
    height: 330px;
}





.header__title-right-container {
    position: relative;
    height: 330px;
}

.header__title-right {
    display: block;
    justify-content: space-between;
}





.header__title-right-list {
    display: flex;
    justify-content: end;
    align-items: flex-end;
} */